<div
  style={{
    textAlign: 'right',
  }}
>
  quill by Kangrif from{' '}
  <a
    href="https://thenounproject.com/browse/icons/term/quill/"
    target="_blank"
    title="quill Icons"
  >
    Noun Project
  </a>{' '}
  (CC BY 3.0)
</div>
