---

---

<div id="app">
  <div id="codemirror-container"></div>
</div>

<script>
  import { EditorView } from '@codemirror/view';
  import { markdown } from '@codemirror/lang-markdown';
  import { languages } from '@codemirror/language-data';
  import {
    prosemarkBasicSetup,
    prosemarkBaseThemeSetup,
    prosemarkLightThemeSetup,
    prosemarkMarkdownSyntaxExtensions,
  } from '@prosemark/core';
  import { htmlBlockExtension } from '@prosemark/render-html';
  import { GFM } from '@lezer/markdown';
  import {
    defaultHighlightStyle,
    syntaxHighlighting,
  } from '@codemirror/language';

  import initDoc from './initDoc.md?raw';

  const editor = new EditorView({
    extensions: [
      // basicSetup,
      markdown({
        codeLanguages: languages,
        extensions: [GFM, prosemarkMarkdownSyntaxExtensions],
      }),
      prosemarkBasicSetup(),
      prosemarkBaseThemeSetup(),
      prosemarkLightThemeSetup(),
      syntaxHighlighting(defaultHighlightStyle),
      htmlBlockExtension,
    ],
    doc: initDoc,
    parent: document.getElementById('codemirror-container')!,
  });
</script>

<style>
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  #codemirror-container {
    min-height: 100px;
    width: 100%;
    --font: Inter;
    * {
      margin-top: 0px;
    }
  }
</style>
