:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    padding-top: min(10rem, 20%);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

#app h1 {
    text-align: center;
}

#codemirror-container {
    min-height: 100px;
    width: 100%;
    --font: Inter;

    & .cm-activeLine {
        background-color: inherit;
    }
}
